@import url("reset.css");
@import url("nav.css");
:root {
  --bg-color-primary: white;
  --bg-color-secondary: #587C83;
  --fg-color-primary: black;
  --fg-color-secondary: white;
  --border-gray: #707070;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body h2 {
  font-size: 32px;
}
body h3 {
  font-size: 26px;
}

.page {
  display: flex;
  min-height: 100vh;
  margin: 0 auto;
  flex-direction: column;
}

main.content {
  width: 100%;
  margin: 0 auto;
  flex-grow: 1;
}

footer {
  display: flex;
  min-height: 92px;
  background-color: var(--bg-color-secondary);
  margin-top: 160px;
  justify-content: space-around;
  align-items: center;
  color: var(--fg-color-secondary);
}
footer span {
  text-wrap: nowrap;
}
footer .footer-links {
  display: flex;
  gap: 45px;
}
footer .footer-links a {
  color: inherit;
  text-decoration: none;
}
footer .footer-socials {
  display: flex;
  gap: 45px;
}

.hero {
  position: relative;
  width: 76.25%;
  height: 530px;
  border: 1px solid var(--border-gray);
  margin: 0 auto 160px auto;
  color: var(--fg-color-secondary);
}
.hero .hero-image {
  position: relative;
  width: 100%;
  height: 100%;
}
.hero .hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero .hero-image .overlay {
  background-color: var(--bg-color-secondary);
  opacity: 0.6;
}
.hero .text {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.fancy-button {
  display: block;
  width: 222px;
  background-color: rgba(0, 0, 0, 0);
  padding: 26px 0;
  border: 1px solid black;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  color: inherit;
  text-decoration: none;
}
.fancy-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.fancy-button:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.button-blue {
  background-color: rgb(88, 124, 131);
  color: var(--fg-color-secondary);
}
.button-blue:hover {
  background-color: rgba(88, 124, 131, 0.9);
}
.button-blue:active {
  background-color: rgba(88, 124, 131, 0.8);
}

.featured {
  display: flex;
  margin: 0 auto;
  align-items: center;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.home .hero .text {
  left: unset;
  right: 12.65%;
  width: fit-content;
}
.home .books-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.home .book-wrap {
  display: flex;
  width: 425px;
  flex-direction: column;
  align-items: center;
}
.home .book-wrap .price {
  font-size: 32px;
  font-weight: bold;
}
.home .book-wrap button {
  margin-top: 35px;
}

.about .featured {
  width: 81.5%;
  margin-bottom: 210px;
}
.about .featured img {
  max-width: 393px;
}
.about .featured .text {
  padding-left: 40px;
}
.about .featured .text h1, .about .featured .text h2, .about .featured .text h3, .about .featured .text h4, .about .featured .text h5, .about .featured .text h6 {
  margin-bottom: 45px;
  text-align: center;
  text-wrap: nowrap;
}
.about .featured .text .description {
  min-width: 450px;
  max-width: 1135px;
  font-weight: bold;
}

.books .books-section {
  margin: 0 0 315px 50px;
}
.books .books-section:last-of-type {
  margin-bottom: 0;
}
.books .books-section h3 {
  margin: 0 0 65px 15px;
  font-size: 26px;
}
.books .books-section .books-flex {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.books .books-section .books-flex .book-wrap {
  display: flex;
  width: 570px;
  align-items: center;
}
.books .books-section .books-flex .book-wrap img {
  margin-right: 50px;
}
.books .books-section .books-flex .book-wrap .text p {
  margin-bottom: 45px;
}
.books .books-section .books-flex .book-wrap .text .price {
  margin-bottom: 35px;
  font-weight: bold;
}

.blog .hero .text {
  gap: 65px;
}
.blog .featured {
  margin: 0 5% 135px 11.875%;
}
.blog .featured img {
  width: 250px;
  height: 380px;
}
.blog .featured .text {
  margin-left: 40px;
}
.blog .featured .text .description {
  font-weight: bold;
}
.blog .blog-section {
  display: flex;
  width: 76.25%;
  height: 463px;
  background-color: var(--bg-color-secondary);
  margin: 0 auto 125px auto;
  align-items: center;
  text-align: center;
  color: var(--fg-color-secondary);
}
.blog .blog-section .multi-showcase {
  height: 100%;
  margin-left: 90px;
  flex-shrink: 0;
}
.blog .blog-section .multi-showcase img {
  display: inline-block;
  height: 100%;
  padding: 40px 0;
  margin-right: 110px;
}
.blog .blog-section .multi-showcase img:last-of-type {
  margin-right: 0;
}
.blog .blog-section .text {
  width: 427px;
  margin: 0 auto;
}
.blog .blog-section .text p.description {
  height: 124px;
}
.blog .blog-section .text .fancy-button {
  border-color: var(--fg-color-secondary);
  margin-top: 40px;
}

.blog-bookclubs .featured img, .blog-ereading .featured img {
  width: auto;
  height: 464px;
}
.blog-bookclubs .featured .text .description, .blog-ereading .featured .text .description {
  font-weight: normal;
}

.account {
  display: flex;
  justify-content: space-evenly;
}
.account h3 {
  font-weight: normal;
  margin-bottom: 30px;
}
.account input[type=text] {
  display: block;
  width: 233px;
  background-color: transparent;
  border: none;
  box-shadow: inset 0 -2px 0 0 black;
  margin-bottom: 45px;
}
.account input[type=text]::placeholder {
  opacity: 1;
}

.cart {
  min-height: 1734px;
}
.cart .book-entry {
  display: flex;
  border-bottom: 1px solid black;
  padding: 114px 140px;
  margin: 100px auto;
}
.cart .book-entry:first-of-type {
  padding-top: 0;
  margin-top: 0;
}
.cart .book-entry img {
  width: 205px;
  height: 317px;
}
.cart .book-entry .text {
  margin-left: 22px;
}

/*
Device ranges from W3Schools:
https://www.w3schools.com/css/css_rwd_mediaqueries.asp
*/
/* Extra large devices (large laptops and desktops, 1200px and up) */
/* Extra small devices (phones, 600px and down) */
/* Large devices (laptops/desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
  footer .footer-links {
    gap: 25px;
  }
  footer .footer-socials {
    gap: 25px;
  }
  footer .footer-socials a {
    width: 37px;
  }
}
/* Medium devices (landscape tablets, 992px and down) */
@media only screen and (max-width: 992px) {
  .about .featured img {
    width: round(30vw, 100px);
  }
  .about .featured .text h2 {
    font-size: 16px;
  }
  .about .featured .text h3 {
    font-size: 13px;
  }
  .about .featured .text .description {
    min-width: unset;
    font-size: 8px;
  }
}
/* Small devices (portrait tablets and large phones, 768px and down) */
@media only screen and (max-width: 768px) {
  footer span {
    text-wrap: initial;
  }
  footer .footer-links {
    gap: 10px;
  }
  footer .footer-socials {
    gap: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
