nav.navbar {
    display: flex;
    width: 100%;
    height: 110px;
    background-color: #ffffff;
    border-bottom: 1px solid black;
    padding: 0 30px;
    margin-bottom: 160px;
    align-items: center;
    color: #000000;

    .logo-wordmark {
        display: flex;
        align-items: center;

        img {
            padding-right: 20px;
        }

        span {
            flex-shrink: 0;
        }
    }

    .search-box {
        --search-box-height: 44px;
        position: relative;
        min-width: 275px;
        width: 604px;
        height: var(--search-box-height);
        margin: 0 115px;

        #searchInput {
            width: 100%;
            height: 100%;
            background-color: rgba(88, 124, 131, 0.35);
            border: 1px solid #707070;
            padding-left: 40px;
        }

        .search-icon {
            --search-icon-height: 25px;
            height: var(--search-icon-height);
            position: absolute;
            top: calc( ( var(--search-box-height) / 2 ) - calc( var(--search-icon-height) / 2 ) );
            left: 10px;
        }
    }

    ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        gap: 10px;

        li {
            display: flex;
            min-width: 128px;
            justify-content: center;
            align-items: center;

            a {
                display: flex;
                width: fit-content;
                align-items: center;
                color: inherit;
                text-decoration: none;

                img {
                    width: 47px;
                    height: 47px;
                    margin-left: 10px;
                }
            }
        }
    }
}