@import url("reset.css");
@import url("nav.css");

:root {
    --bg-color-primary: white;
    --bg-color-secondary: #587C83;
    --fg-color-primary: black;
    --fg-color-secondary: white;
    --border-gray: #707070;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 26px;
    }
}

.page {
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
    flex-direction: column;
}

main.content {
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
}

footer {
    display: flex;
    min-height: 92px;
    background-color: var(--bg-color-secondary);
    margin-top: 160px;
    justify-content: space-around;
    align-items: center;
    color: var(--fg-color-secondary);

    .footer-links {
        display: flex;
        gap: 45px;

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    .footer-socials {
        display: flex;
        gap: 45px;
    }
}

.hero {
    position: relative;
    width: 76.25%;
    height: 530px;
    border: 1px solid var(--border-gray);
    margin: 0 auto 160px auto;
    color: var(--fg-color-secondary);
    
    .hero-image {
        position: relative;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .overlay {
            background-color: var(--bg-color-secondary);
            opacity: .6;
        }
    }
    .text {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}

.fancy-button {
    display: block;
    width: 222px;
    background-color: rgba(0, 0, 0, 0);
    padding: 26px 0;
    border: 1px solid black;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    color: inherit;
    text-decoration: none;

    &:hover {
        background-color: rgba(0, 0, 0, .1);
    }

    &:active {
        background-color: rgba(0, 0, 0, .2);
    }
}

.button-blue {
    background-color: rgb(88, 124, 131, 1);
    color: var(--fg-color-secondary);

    &:hover {
        background-color: rgb(88, 124, 131, .9);
    }

    &:active {
        background-color: rgb(88, 124, 131, .8);
    }
}

.featured {
    display: flex;
    margin: 0 auto;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.home {

    .hero {
        .text {
            left: unset;
            right: 185px;
            width: fit-content;
        }
    }

    .books-flex {
        display: flex;
        justify-content: space-around;
    }

    .book-wrap {
        display: flex;
        width: 425px;
        flex-direction: column;
        align-items: center;

        .price {
            font-size: 32px;
            font-weight: bold;
        }

        button {
            margin-top: 35px;
        }
    }
}

.about {


    .featured {
        width: 81.5%;
        margin-bottom: 210px;

        .text {
            padding-left: 40px;

            h1, h2, h3, h4, h5, h6 {
                margin-bottom: 45px;
                text-align: center;
            }

            p {
                font-weight: bold;
            }
        }
    }
}

.books {

    .books-section {
        margin: 0 0 315px 50px;

        &:last-of-type {
            margin-bottom: 0;
        }

        h3 {
            margin: 0 0 65px 15px;
            font-size: 26px;
        }
        .books-flex {
            display: flex;
            gap: 40px;

            .book-wrap {
                display: flex;
                width: 570px;
                align-items: center;

                img {
                    margin-right: 50px;
                }

                .text {

                    p {
                        margin-bottom: 45px;
                    }

                    .price {
                        margin-bottom: 35px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.blog {
    .hero {
        .text {
            gap: 65px;
        }
    }

    .featured {
        margin: 0 5% 135px 11.875%;

        img {
            width: 250px;
            height: 380px;
        }
        .text {
            margin-left: 40px;

            .description {
                font-weight: bold;
            }
        }
    }

    .blog-section {
        display: flex;
        width: 76.25%;
        height: 463px;
        background-color: var(--bg-color-secondary);
        margin: 0 auto 125px auto;
        align-items: center;
        text-align: center;
        color: var(--fg-color-secondary);
        
          .multi-showcase {
            height: 100%;
            margin-left: 90px;
            flex-shrink: 0;

            img {
                display: inline-block;
                height: 100%;
                padding: 40px 0;
                margin-right: 110px;
                
                &:last-of-type {
                    margin-right: 0;
                }
            }
          }
          
          .text {
            width: 427px;
            margin: 0 auto;

            p.description {
                height: 124px;
            }

            .fancy-button {
                border-color: var(--fg-color-secondary);
                margin-top: 40px;
            }
          }
    }
}

.blog-bookclubs, .blog-ereading {
    .featured {
        img {
            width: auto;
            height: 464px;
        }
        .text {
            .description {
                font-weight: normal;
            }
        }
    }
}

.account {
    display: flex;
    justify-content: space-evenly;

    h3 {
        font-weight: normal;
        margin-bottom: 30px;
    }

    input[type=text] {
        display: block;
        width: 233px;
        background-color: transparent;
        border: none;
        box-shadow: inset 0 -2px 0 0 black;
        margin-bottom: 45px;

        &::placeholder {
            opacity: 1;
        }
    }
}



